{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link   rel="stylesheet" href="{% static 'css/Design.css' %}">
</head>

<body>
    <img src="{%static 'galereya/orig.thumb.gif.e9ba52059ba045814c9d8cb77666b985.gif'%}" alt="" style="border-radius: 50px"/>
<a href="{%url 'twstreamers'%}">-Все стримеры</a>
</div>
</body>
</html>

<!--1. Собрать информаию о стримерах (все даныне, которые у нас лежат в models.py)-->
<!--2. Сделать CSS, какую-то формочку на сайте (две-три), шапку сайта (если надо)-->
<!--3. ОТДЕЛЬНО (НЕ В ДЖАНГО), создать хтмл (можно прямо в этом проекте, но не запускать джанго прокт),-->
<!-- - в хтмл файле добавить рандомную картинку и закруглить её + добавить ей границы и тени, присмотреться, понять, как будет лучше выглядеть на сайте-->