{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link   rel="stylesheet" href="{% static 'css/None.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
</head>

<body>


{%for i in Zapisi%}



    <div class="streamer">
        <img src="{{i.photo.url }}">
        <a class="ab">{{i.username}}</a>
        {%if i.unique == "-"%}

        {%else%}
        <p class="a">{{i.unique}}</p>
        {%endif%}
        <p class="a">{{i.mainer}}</p>
        <p class="a">{{i.gameplay}}</p>
        {%if i.comp == "-"%}

        {%else%}
            <p class="a">{{i.comp}}</p>
        {%endif%}
        {%if i.team_dbd == "-"%}

        {%else%}
        <p class="a">{{i.team_dbd}}</p>
        {%endif%}
        <p class="a">
            <a href="{{i.url_tw}}">{{i.url_tw}}</a>
        </p>

        <p class="followers">{{i.followers}} <k>фолловеров</k></a></p>


    </div>

{%endfor%}
    <div class="streamers">

    </div>

</body>
</html>

<!--Доделать страницу олл_стримеры. Сделать надписи разного цвета, сделать рамки, закругления + закругление картинок, изменить цвет фона сайта. В общем - сделать всё, что можно в май.хтмл + Ноне.ЦСС-->